/* Set all defaults to zero */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    color: #fff;
}

/* Header Style */
.header {
    background-color: #35424a;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    /* position: fixed; */
    width: 100%;
    z-index: 3;
    border-bottom: #e8491d 3px solid;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #35424a;
}

.header li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.header li a:hover {
    color: #ccc;
    font-weight: bold;
}
.header .logo {
    float: left;
    font-size: .75em;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.header .logo span {
    font-size: 1.25em;
}

header .logo .highlight, header .menu .current a {
    color: #e8491d;
    font-weight: bold;
}
/* Body Style */
body {
    font: 15px/1.5 Open Sans, Helvitica, san-serif;
    background-color: #f4f4f4;
}